* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: lightblue;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 40px;
}

.container .items {
    background-color: lightblue;
    border: 2px black solid;
}

.container .items h4 {
    float: right;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    color: white;
    background-color: chocolate;
    padding: 5px;
}

.container .items p {
    clear: right;
    padding: 10px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .container .item-3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 992px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}