* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: lightskyblue;
    border: 2px black solid;
}

.navbar .navbar-brand {
    font-size: 3em;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7;
}

.container-fluid .row {
    border: 2px black solid;
    background-color: lightsteelblue;
}

.container-fluid {
    padding: 2em;
}

div {
    margin: 1rem;
}

header .navbar button#toggler-border, .navbar button.navbar-toggle .navbar-toggler-icon {
    border: 2px black solid;
}

header .navbar button#toggler-border:hover {
    background-color: blueviolet;
}

.row {
    box-shadow: 0 0 10px 2px lightblue;
}